/* * {
  box-shadow: 0px 0px 0px 1px rgba(245,10,10,1);
} */

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body, h1, h2, ul {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  list-style: none outside none;
}
.container {
  width: 100%;
  margin: 0 auto;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}
.main {
  width: 100%;
  background: #fafafa;
}
.main__box {
  max-width: 1300px;
  margin: 0 auto;
}
.main__box__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main__box__nav__logo {
  font-family: 'Yesteryear', cursive;
  padding: 30px 0 30px 50px;
}
.main__box__nav__logo a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 35px;
}
.main__box__nav__hamburger {
  min-width: 40px;
  height: 30px;
  margin: 45px;
  position: relative;
  cursor: pointer;
  background: none;
  border: 0;
  outline: 0;
}
.line {
  position: absolute;
  z-index: 1000;
  min-width: 30px;
  height: 4px;
  border-radius: 2px;
  background: #000;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) .5s;
}
.line1 {
  top: 5px;
  left: 5px;
}
.line2 {
  top: 13px;
  left: 5px;
}
.line3 {
  top: 22px;
  left: 5px;
}
.main__box__nav__hamburger.close .line1 {
  transform: rotate(45deg);
  top: 50%;
}
.main__box__nav__hamburger.close .line2, .main__box__nav__hamburger.close .line3 {
  transform: rotate(-45deg);
  top: 50%;
}
.main__box__nav__menu {
  position: fixed;
  top: -100vh;
  left: 0;
  background: #1b1b1b;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  transition: .7s top ease-in;
}
.active {
  top: 110px;
}
.nav-inverse {
  background: #1b1b1b;
  transition: .5s background linear;
}
.line-inverse {
  background: #fff;
}
.main__box__nav__menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
.main__box__nav__menu__list__item, .main__box__nav__menu__list__contact {
  padding: 10px;
}
.main__box__nav__menu__list__item a, .main__box__nav__menu__list__social a {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  font-weight: 900;
}
.main__box__nav__menu__list__contact {
  font-size: 40px;
  color: #fff;
}
.main__box__nav__menu__list__social a {
  font-size: 18px;
}
.main__box__nav__menu__list__item a:hover, .main__box__nav__menu__list__contact:hover, .main__box__nav__menu__list__social a:hover {
  color: grey;
}
.main__box__header {
  max-width: 1300px;
  margin: 0 auto;
}
.main__box__header__name {
  padding: 50px 50px 30px;
  font-size: 45px;
  font-weight: 900;
  color: #c9c9c9;
}
.main__box__header__info {
  display: none;
  font-size: 24px;
  font-weight: 900;
  padding-left: 30px;
}
.art {
  width: 100%;
  background: #fafafa;
  padding: 0 50px;
}
.art__header__info {
  display: none;
}
.art__header__info__text {
  font-size: 20px;
  font-weight: 900;
  line-height: 33px;
  letter-spacing: 0px;
}
#skills .art__header__info {
  display: block;
  padding: 20px 0;
  font-size: 30px;
  font-weight: 900;
  color: #c9c9c9;
}
div.art__header__info__text {
  display: flex;
  flex-direction: column;
}
.art__header__info__icon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.art__header__info__icon i {
  font-size: 10vw;
  color: #333;
  padding: 20px;
}
.art__header__info__icon:last-child {
  padding-bottom: 80px;
}
.art__header__more {
  padding: 20px 0;
  font-size: 30px;
  font-weight: 900;
  color: #c9c9c9;
}
.art__header__more__text {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  font-size: 20px;
  display: block;
  padding-bottom: 40px;
}
.sec__projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.sec__projects a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  display: block;
  padding: 30px 50px;
}
.sec__projects__1, .sec__projects__2, .sec__projects__3 {
  height: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.sec__projects__1 {
  height: 100vw;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/soap1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.sec__projects__1:hover {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/soap1.jpg');
  background-size: cover;
}
.sec__projects__2 {
  height: 100vw;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/chair1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.sec__projects__2:hover {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/chair1.jpg');
  background-size: cover;
}
.sec__projects__3 {
  height: 100vw;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/fiszkoteka1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.sec__projects__3:hover {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/fiszkoteka1.jpg');
  background-size: cover;
}
.sec__contact {
  background: #333;
  color: #fff;
  padding: 40px;
}
.sec__contact__header {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  padding-top: 30px;
}
.sec__contact__tel, .sec__contact__email {
  text-align: center;
  font-size: 20px;
}
.footer {
  width: 100%;
  height: 100px;
  background: #ececec;
  display: flex;
  justify-content: flex-end;
}
.col4 {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.footer__logo {
  display: none;
}
.footer__logo__inspiration {
  color: #333;
  font-size: 14px;
  margin-top: 42px;
  padding-right: 10px;
}
.footer__logo__inspirationLogo {
  width: 100px;
  height: 35px;
  margin-top: 30px;
}
.icon-linkedin-circled, .icon-github-circled {
  color: #333;
  font-size: 30px;
  padding: 5px;
  line-height: 100px;
}
.hide {
  display: none;
}

/* RWD */
@media (min-width: 768px) {
  .main {
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/401.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }
  .main__box {
    max-width: 1100px;
  }
  .main__box__nav {
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
  }
  .main__box__nav__hamburger {
    display: none;
  }
  .nav-inverse {
    background: transparent;
  }
  .main__box__nav__logo {
    width: 250px;
  }
  .main__box__nav__logo a {
    color: #fff;
  }
  .main__box__nav__menu {
    position: static;
    background: transparent;
    height: 80px;
    font-size: 25px;
    width: auto;
  }
  .main__box__nav__menu__list {
    display: flex;
    flex-direction: row;
    padding: 30px 30px 0;
  }
  .main__box__nav__menu__list__item a {
    color: #fff;
    font-size: 20px;
  }
  .main__box__nav__menu__list__contact, .main__box__nav__menu__list__social {
    display: none;
  }
  .main__box__nav__menu__list__item a:hover {
    color: #c9c9c9;
  }
  .main__box__header__name {
    padding: 110px 50px 30px;
    font-size: 60px;
    font-weight: 900;
    color: #fff;
  }
  .main__box__header__info {
    display: block;
    font-size: 35px;
    font-weight: 900;
    padding-left: 55px;
    color: #fff;
  }
  .art {
    padding: 50px;
    max-width: 1100px;
    margin: 0 auto;
  }
  .art__header__info {
    display: block;
    padding: 20px 0;
    font-size: 30px;
    font-weight: 900;
    color: #c9c9c9;
  }
  .hide {
    display: block;
  }
  .sec__projects {
    display: flex;
    flex-direction: row;
  }
  .col1, .col2 {
    height: 800px;
    width: 50%
  }
  .sec__projects__1, .sec__projects__2 {
    height: 400px;
  }
  .sec__projects__3 {
    height: 800px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__logo {
    display: block;
    font-family: 'Yesteryear', cursive;
    font-size: 40px;
    padding:30px 50px 10px;
    color: #333;
  }
  .footer__logo__inspirationLogo {
    width: 100px;
    height: 35px;
    margin-top: 30px;
  }
  .icon-github-circled {
    margin-right: 20px;
  }
}
